.footer {
    background: #F4F4F4;
    display: flex;
    box-align: center;
    align-items: center;
    box-pack: justify;
    justify-content: space-between;
    height: 100px;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
}
